<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro | Music Store</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>       
         <div class="col-12 col-sm-3" th:each="p :${clienteConsultar}">
            <img class="img-fluid" src="bolo.jpg"  />
            <h2 th:field="${p.nome}" name="nome" class="titulo-altura-fixa">Heading</h2>
            <p th:text="${p.descricao}" class="descricao-altura-fixa">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
              euismod. Donec sed odio dui. </p>
            <h3 th:text="${p.precoCompra}">99.00</h3>
            <h3 th:text="${p.precoVenda}">99.00</h3>
            <p>
              <a class="btn btn-primary btn-lg btn-block" href="#" th:href="@{/{id}(id=${p.id})}" role="button">Detalhes &raquo;</a>
            </p>
          </div>

                </div>

        <footer class="container col-lg-12">
            <hr class="hr col-lg-10">
            <p class="d-flex justify-content-center col-lg-5 col-sm-12" style="float: left">Copyright&copy; Music Club, Inc. -
                Todos Direitos Reservados 2018 &emsp;</p>
            <p class="d-flex justify-content-center col-lg-7 col-sm-12"><a href="politica_privacidade.html">Política de
                    Privacidade</a>&ensp;|&ensp;
                <a href="#">Sobre Nós</a>&nbsp;|&nbsp;<a href="#">Fale Conosco</a>&nbsp;|&nbsp; <a
                    href="http://www.planalto.gov.br/ccivil_03/Leis/L8078.htm">Direito do Consumidor</a></p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script th:src="script.js"></script>
    </body>
</html>