<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro | Music Store</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>       
        <div id="main" class="container-fluid" >
            <h3 class="page-header">Template Inicial</h3>
            <form action="index.html" th:each="c :${clienteConsultar}" >
                <div id="main" class="container-fluid" >
                    <h3 class="page-header">Visualizar Item #1</h3>

                    <div class="row" >
                        
                        
                        <div class="col-lg-4 col-md-6  col-sm-12">
                            <p><strong>Campo Um</strong></p>
                            
                            <input disabled="disabled" th:text="${c.nome}"  class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>

                        <div class="col-lg-4 col-md-6  col-sm-12" >
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" tth:text="${c.telefone}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>

                        <div class="col-lg-4 col-md-6  col-sm-12">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.datanasc}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>

                        <div class="col-lg-4 col-md-6  col-sm-12">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.usuario}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>

                        <div class=" col-sm-12 col-md-6 col-lg-4">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.senha}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.email}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.cep}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.rua}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.numero}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.complemento}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.bairro}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.cidade}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p><strong>Campo Um</strong></p>
                            <input type="text" disabled="disabled" th:text="${c.estado}" class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing.</input>
                        </div>
                         
                    </div>
                 
                      <div class="row" >
                      
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <button type="submit" class="btn btn-primary btn-block">Editar</button>
                     </div>
                        
                         <div class="col-lg-2 col-md-6 col-sm-12" >
                    <button type="submit" class="btn btn-primary btn-block">Excluir</button>
                        </div>
                         
                    </div> 
        </div>
                   
      </form>

                </div>


        <footer class="container col-lg-12">
            <hr class="hr col-lg-10">
            <p class="d-flex justify-content-center col-lg-5 col-sm-12" style="float: left">Copyright&copy; Music Club, Inc. -
                Todos Direitos Reservados 2018 &emsp;</p>
            <p class="d-flex justify-content-center col-lg-7 col-sm-12"><a href="politica_privacidade.html">Política de
                    Privacidade</a>&ensp;|&ensp;
                <a href="#">Sobre Nós</a>&nbsp;|&nbsp;<a href="#">Fale Conosco</a>&nbsp;|&nbsp; <a
                    href="http://www.planalto.gov.br/ccivil_03/Leis/L8078.htm">Direito do Consumidor</a></p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script th:src="script.js"></script>
    </body>
</html>