<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Página</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--<style>-->
    <!--body {-->
    <!--background-color: #424242;-->
    <!--}-->
    <!--h1, label {-->
    <!--color: #fff;-->
    <!--}-->
    <!--hr {-->
    <!--background-color: #fff;-->
    <!--}-->
    <!--</style>-->
</head>
<body>
    <header class="col-lg-12 d-flex justify-content-center">
        <img th:src="@{/static/image/logo.png}" alt="Logotipo">
    </header>

    <div class="container">
        <hr class="hr">
        <section class="row d-flex justify-content-center">
            <h1>Cadastro de Produto</h1>
        </section>
        
        <form class="row" th:action="@{/gerenciamento/produto/salvar}" th:object="${produto}" method="post">
            <div class="form-group col-lg-4 col-sm-12">
                <label th:for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" aria-describedby="#" th:field="*{nome}" placeholder="nome"/>
            </div>
            
            <div class="form-group col-lg-4 col-sm-12">
                <label th:for="descricao">Descrição</label>
                <textarea rows="12" cols="47" id="txtareadescricao" 
                          th:field="*{descricao}" placeholder="descricao"></textarea>
            </div>
            
            <div class="form-group mb-3 col-lg-4 col-sm-12">
                <label th:for="categoria" >Categoria</label>
                <select style="width: 100%; height: 50px" class="custom-select" 
                        th:field="*{categoria.codigo}" id="InputCat">
                    
                        <option disabled="true" selected="selected" value="">Escolher</option>
                        <option th:value="${1}">Áudio Profissional</option>
                        <option th:value="${2}">Bateria & Percussão</option>
                        <option th:value="${3}">Cordas & Acessórios</option>
                        <option th:value="${4}">Pianos & Teclados</option>
                        <option th:value="${5}">Sopro</option>
                    
                </select>
            </div>
            
            <div class="form-group mb-3 col-lg-4 col-sm-12">
                <label th:for="fornecedor" >Fornecedor</label>
                <select style="width: 100%; height: 50px" class="custom-select" 
                        th:field="*{fornecedor.codigo}" id="fornecedor">
                    <option disabled="true" selected="selected" value="">Escolher</option>
                    <option th:value="${1}">Daddarío</option>
                    <option th:value="${2}">Fender</option>
                    <option th:value="${3}">Gibson</option>
                    <option th:value="${4}">Roland</option>
                    <option th:value="${5}">Martin e co</option>
                    <option th:value="${6}">Casio</option>
                    <option th:value="${7}">BlackStar</option>
                    <option th:value="${8}">Mark bass</option>
                    <option th:value="${9}">Ik multimedia</option>
                    <option th:value="${10}">Boss</option>
                    <option th:value="${11}">Korg</option>
                    <option th:value="${12}">Tagina</option>
                    <option th:value="${13}">Ibanez</option>
                    <option th:value="${14}">Sigma guitars</option>
                    <option th:value="${15}">Shure</option>
                    <option th:value="${16}">Eletro-harmonix</option>
                    <option th:value="${17}">On-stage</option>
                </select>
            </div>
            
            <div class="form-group col-lg-4 col-sm-12">
                <label th:for="precoCompra">Preço de Compra</label>
                <input type="number" class="form-control" id="inputpccompra" aria-describedby="#"
                        th:field="*{precoCompra}" placeholder="Preço Compra">
            </div>
            
            <div class="form-group col-lg-4 col-sm-12">
                <label th:for="precoVenda">Preço de Venda</label>
                <input type="number" class="form-control" id="inputprecovenda" aria-describedby="#" 
                    th:field="*{precoVenda}" placeholder="Preço Venda">
            </div>
            
            <div class=" form-group col-lg-4 col-sm-12 col-mg-12">
                <label th:for="estoque">Estoque</label>
                <input type="number" class="form-control" id="inputestoque" aria-describedby="#" 
                    th:field="*{estoque}" placeholder="Estoque">
            </div>
            
            <!--<div class="form-group col-lg-4">
                <label th:for="imagens">Imagens</label>
                <input type="file" class="form-control-file" id="inputimagens" accept="image/png, image/jpeg"
                    th:field="*{imagens}" multiple placeholder="Imagens">
            </div>-->
            
            <button type="submit">Enviar</button>
        </form>
    </div>

    <footer class="container col-lg-12">
        <hr class="hr col-lg-10">
        <p class="d-flex justify-content-center col-lg-5 col-sm-12" style="float: left">Copyright&copy; Music Club, Inc. -
            Todos Direitos Reservados 2018 &emsp;</p>
        <p class="d-flex justify-content-center col-lg-7 col-sm-12"><a href="politica_privacidade.html">Política de
            Privacidade</a>&ensp;|&ensp;
            <a href="#">Sobre Nós</a>&nbsp;|&nbsp;<a href="#">Fale Conosco</a>&nbsp;|&nbsp; <a
                    href="http://www.planalto.gov.br/ccivil_03/Leis/L8078.htm">Direito do Consumidor</a></p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>